body
{
  padding: 0;
  margin: 0;
  width: 100%;
}

.wrapper
{
  height: 100%;
  width: 100%;
  text-align:center;

}

.open{
  float: left;
  font-size: 50px;
}

.search{
  float: right;
  font-size: 50px;
}
.fa fa-search
{
  font-size: 50px;
  float: right;
  display: block;
}

.logo
{
  width: 100px;
  margin-bottom: 30px;
}

h1{
	padding: 16px;
	font-family: sans-serif;
	font-size: 2.5em;
	margin: 16px;
	text-shadow: 2px 2px 4px #979ba3;
}

h2{
	font-size: 1.25em;
	margin: 0;
	padding: 16px;
	font-family: sans-serif;
}

h3{
	font-size: 1em;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 16px;
	font-family: sans-serif;
}

p{
	margin: 0.8em 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;
}

.nav
{
  width: 0;
  overflow-x: hidden;
  height: 50vh;
  z-index: 1;
  position: fixed;
  background-color: rgba(34, 65, 93, 0.9);
  transition: 0.5s;
  display: block;

}

.nav a {
  clear: left;
  color: white;
  text-decoration: none;
  display: block;
  font-size: 35px;
  padding: .5em;
  transition: 0.3s;

}

.close
{
  float: right;
}


.nav a:not(:first-child):hover{
    background-color: orange;
}

.card{
	display: inline-block;
	margin: 16px;
	width: 380px;
	height: 450px;
	min-height: 280px;
	font-size: 16px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	margin: 24px;
	transition: height 1s;
}

.card:hover{
	box-shadow: 0 8px 16px 0 #5e6063;
	border-bottom: 1px solid black;
	height: 550px;
}

.card .heading{
	position: relative;
	height: 80px;
	color: White;
	background-color: #4285f4;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
}


.card .content {
	font-size: 0.875em;
	padding: 16px;
	font-family: sans-serif;
	height: 70px;
	transition: height 1s;
}

.card .content:hover{
	height: 160px;
}

.card .button {
	border: none;
	background-color: white;
	padding: 8px ;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #A349E4;
	margin: 8px;
	cursor: pointer;
	font-family: sans-serif;
	
}


.card .button:hover {
	background-color: #30872C;
	color: white;
	border-radius: 2px;

}

img {
	max-width: 100%;
}

.extra { 
    display: none;
	position:relative;
	animation:animatetop 0.5s}@keyframes animatetop{from{top:-100px;opacity:0} to{top:0;opacity:1} /*got the code from https://www.w3schools.com/w3css/4/w3.css, line 119*/
}

p:hover .extra {
    display: inline-block;
}

.hide{
	font-style: italic;
	text-decoration: underline;
}

p:hover .hide {
    display: none;
}