@media (min-width: 1025px){

	html{
		background-image: url(../images/bg.jpg);
		background-repeat: repeat;
	}

	body{
		padding: 0;
		margin: 0;
		width: 100%;
	}


	/* class for mobile menu bar*/
	.open {
		display:none;
		float: left;
		font-size: 50px;
	}

	.float-panel{
		width: 200px;
		height: 400px;
		padding-left: 3%;
		padding-right: 2%;
		padding-top: 2%;
		background-color: #211545;
		font-size: 1.25em;
		font-family: "Segoe UI";
	}

	.float-panel ul{
		margin: 0;
		padding: 0;
	}

	.float-panel li {
		list-style: none;
		border-bottom: solid;
		border-color: white;
		padding: 20px;
	}
	.float-panel li a
	{
		text-decoration: none;
		font-size: .85em;
		font-family: "Segoe UI";
		color: white;

	}



	/*To be shown when the website go to mobile view */
	.wrapper{
		height: 100%;
		max-width: 80%;
		text-align:center;
		margin-top: -500px;
		padding-left: 20%;
		padding-right: 5%;
	}



	/*Logo to be appearing in the mobile version*/
	.logo{
		width: 100px;
		margin-bottom: 30px;
		display:none;
	}

	h1{
		padding: 16px;
		font-family: sans-serif;
		font-size: 2.5em;
		margin: 16px;
		text-shadow: 2px 2px 4px #979ba3;
	}

	h2{
		font-size: 1.25em;
		margin: 0;
		padding: 16px;
		font-family: sans-serif;
	}

	h3{
		font-size: 1em;
		margin: 0;
		padding-left: 16px;
		padding-bottom: 16px;
		font-family: sans-serif;
	}


	p{
		margin: 0.8em 0;
		padding: 0;
		font-family: sans-serif;
		line-height: 1.5;
		text-align: left;
	}

	/* mobile navigation*/
	.nav  {
		display: none;
	}

	/*mobile search*/
	.search{
		display:none
	}

	/*destop navigation*/
	.first_nav {
		position: Fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 48px;
		background-color: black;
		font-size: 18px;
		display: block;
		margin-left: 270px;
		z-index:1;
	}

	/*CDU image on the left*/
	.banner_img{
		width:270px;
	}

	/* Contents inside the menu*/
	.menu-container {
		margin: 0 auto;
		margin-top: -5px;
		padding: 0 10%;
		max-width: 1280px;
	}

	/**/
	.menu-container ul {
		list-style: none;
		margin-left: -30px;
	}

	/**/
	.menu-container ul li {
		display: inline-block;
		text-align: center;
		margin-right: 8%;
	}

	/**/
	.menu-container ul li:last-child {
		margin-right: 0;
	}

	/**/
	.menu-container ul li a {
		display: inline-block;
		font-family: "Segoe UI";
		text-decoration: none;
		color: #fff;
		font-weight: 100;
		font-size: 16px;
		float: left;
	}

   /**/
	.menu-container ul li a:hover {
		color: #969696;
	}

	/*second navigation */

	.second_nav{
		background-color: black;
		text-align: center;
		margin-top:-1.7%;
	}

	/*display image for search*/
	.img{
		width: 20px;
		height: 20px;
		margin-bottom: -5px;
	}

	/*display of the cards*/
	.card{
		display: inline-block;
		margin: 16px;
		width: 380px;
		height: 550px;
		min-height: 280px;
		font-size: 16px;
		text-align: left;
		background-color: #ffffff;
		border-radius: 2px;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
		border-radius: 5px;
		margin: 24px;
		transition: height 1s;
	}

	/**/
	.card:hover{
		box-shadow: 0 8px 16px 0 #5e6063;
		border-bottom: 1px solid black;
	}

	/**/
	.card .heading{
		position: relative;
		height: 80px;
		color: White;
		background-color: #382a54;
		border-top-right-radius: 5px;
		border-top-left-radius:5px;
		display:content;
	}

	/**/
	.card .content {
		font-size: 0.875em;
		padding: 16px;
		font-family: sans-serif;
		height: 30%;
		transition: height 1s;
	}

	/**/
	.card .button {
		border: solid;
		background-color: white;
		padding: 6px ;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		color: #A349E4;
		margin: 10px;
		cursor: pointer;
		font-family: sans-serif;
		border-radius:5px;
	}

	/**/
	.card .button:hover {
		background-color: #30872C;
		color: white;
		border-radius: 2px;
	}

	/*style for the lists inside the card*/
	.content ul li {
		padding:  5px; ;
	}

	/*images inside the cards*/
	img {
		max-width: 100%;
	}

	/*sub-link css**/
	.sub_contents{
		margin-left: 5%;
		margin-right: 15%;
		text-align: left;
	}



	.example{
		border:solid;



	}
	/*horizontal card*/
	.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  height: 180px;
	margin: 0;
	background-color: white;
}

	.column2 {
	float: left;
	width:63%;
	padding: 10px;
	height: 180px;
	margin: 0;
	background-color: white;
	}



	.row:after {
	  content: "";
	  display: table;
	  clear: both;

	}

	.horzontal_card
	{
		margin-bottom: 5%;
	}

	.column1 img
	{

		height: 180px;

	}

/*horizontal card ends*/

	/*end of sublink for the CSS*/
}

@media (min-width: 481px) and (max-width: 1024px){
	html{
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	}

	body
	{
	padding: 0;
	margin: 0;
	width: 100%;
	}

	/*destop navigation*/
	nav{
	display:none;
	}

	.float-panel {
		display: none;
	}

	/*remove the cdu image*/
	.banner_img{
	display:none;
	}

	/*mobile version for cotents*/
	.wrapper
	{
	height: 100%;
	width: 100%;
	text-align:center;
	}


	/*menu bar for mobile design*/
	.open{
	float: left;
	font-size: 50px;
	margin-left: 40px;
	margin-top: 20px;
	}

	/*search bar for mobile design*/
	.search{
	float: right;
	font-size: 50px;
	margin-right: 40px;
	margin-top: 20px;
	}



	/*mobile logo*/
	.logo
	{
	width: 100px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 80px;	}

	h1{
	padding: 16px;
	font-family: sans-serif;
	font-size: 2.5em;
	margin: 16px;
	text-shadow: 2px 2px 4px #979ba3;
	}

	h2{
	font-size: 1.25em;
	margin: 0;
	padding: 16px;
	font-family: sans-serif;
	}

	h3{
	font-size: 1em;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 16px;
	font-family: sans-serif;
	}

	p{
	margin: 0.8em 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;
	text-align: left;
	}

	/*Navigation after clicking on the menu bar doesnt work unless clicked*/
	.nav
	{
	width: 0;
	text-align: left;
	font-family: sans-serif;
	overflow-x: hidden;
	height: 600px;
	z-index: 1;
	position: fixed;
	background-color: rgba(34, 65, 93, 0.9);
	transition: 0.5s;
	display: block;

	}

	.nav a {
	clear: right;
	color: white;
	text-decoration: none;
	display: block;
	font-size: 35px;
	padding: .5em;
	transition: 0.3s;
	}

	/*Close buton on the navigation inside the menu bar*/
	.close
	{
	float: right;
	}

	.nav a:not(:first-child):hover{
	  background-color: orange;
	}

	.nav a:not(:first-child) {/* To separe the X from the rest */
		border: solid;
	}



	.show {display:block;}

	/*styles for the cards*/
	.card{
	display: inline-block;
	margin: 16px;
	width: 380px;
	height: 550px;
	min-height: 280px;
	font-size: 16px;
	text-align: left;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	margin: 24px;
	transition: height 1s;
	}

	.card:hover{
	box-shadow: 0 8px 16px 0 #5e6063;
	border-bottom: 1px solid black;
	height: 550px;
	}

	.card .heading{
	position: relative;
	height: 80px;
	color: White;
	background-color: #382a54;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
	}


	.card .content {
	font-size: 0.875em;
	padding: 16px;
	font-family: sans-serif;
	height: 30%;
	transition: height 1s;
	}

	.card .button {
	border: solid;
	background-color: white;
	padding: 8px ;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #A349E4;
	margin: 8px;
	cursor: pointer;
	font-family: sans-serif;
	}

	.card .button:hover {
	background-color: #30872C;
	color: white;
	border-radius: 2px;
	}

	/*style for the lists inside the card*/
	.content ul li {
		padding:  5px; ;
	}


	/*images inside the card*/
	img {
	max-width: 100%;
	}

	.extra {
	  display: none;
	position:relative;
	animation:animatetop 0.5s}@keyframes animatetop{from{top:-100px;opacity:0} to{top:0;opacity:1} /*got the code from https://www.w3schools.com/w3css/4/w3.css, line 119*/
	}

	p:hover .extra {
	  display: inline-block;
	}

	.hide{
	font-style: italic;
	text-decoration: underline;
	}

	p:hover .hide {
	  display: none;
	}

	/*sub-link css*/
	.sub_contents{
		margin-left: 15%;
		margin-right: 15%;
		text-align: left;

		}



	.example{
		border:solid;
		margin-bottom: 5%;

	}

	/*horizontal card*/
	.column1 {
	float: left;
	width: 100%;
	padding: 10px;
	height: 180px;
	margin: 0;
	background-color: white;
}

	.column2 {
	float: left;
	width:100%;
	padding: 10px;
	height: auto;
	margin: 0;
	background-color: white;
	}



	.row:after {
		content: "";
		display: table;
		clear: both;

	}

	.horzontal_card
	{
		margin-bottom: 5%;
	}

	.column1 img
	{
		height: inherit;
		width: 100%;
	}


/*horizontal card ends*/

	/*sub-link css*/





}

@media (max-width: 480px){
	html{
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	}

	body{
	padding: 0;
	margin: 0;
	width: 100%;
	}

	/*desktop navigation display blocked*/
	nav{
	display:none;
	}

	.float-panel{
		display: none;
	}

	.banner_img{
	display:none;
	}

	.wrapper{
	height: 100%;
	width: 100%;
	text-align:center;
	}

	/**/
	.open{
	float: left;
	font-size: 50px;
	margin-left: 20px;
	margin-top: 20px;
	}

	.search{
	float: right;
	font-size: 50px;
	margin-right: 20px;
	margin-top: 20px;
	}



	/*cdu mobile logo*/
	.logo{
	width: 20%;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 80px;
	}

	h1{
	padding: 16px;
	font-family: sans-serif;
	font-size: 2.5em;
	margin: 16px;
	text-shadow: 2px 2px 4px #979ba3;
	}

	h2{
	font-size: 1.25em;
	margin: 0;
	padding: 16px;
	font-family: sans-serif;
	}

	h3{
	font-size: 1em;
	margin: 0;
	padding-left: 16px;
	padding-bottom: 16px;
	font-family: sans-serif;
	}

	p{
	margin: 0.8em 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.5;

	}

	/*mobile nav bar*/
	.nav
	{
	width: 0;
	text-align: left;
	font-family: sans-serif;
	overflow-x: hidden;
	height: 600px;;
	z-index: 1;
	position: fixed;
	background-color: rgba(34, 65, 93, 0.9);
	transition: 0.5s;
	display: block;
	}

	.nav a {
	clear: right;
	color: white;
	text-decoration: none;
	display: block;
	font-size: 30px;
	padding: 0.5em;
	transition: 0.3s;
	}

	.close
	{
	float: right;
	}

	.nav a:not(:first-child):hover{
	  background-color: orange;
	}

	.nav a:not(:first-child) /* To separe the X from the rest */
	{
		border: solid;
	}

	.show {display:block;}

	/*styles for the cards*/
	.card{
	display: inline-block;
	margin: 10%;
	width: 80%;
	height: 100%;
	min-height: 280px;
	font-size: 16px;
	text-align: left;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
	border-radius: 5px;
	margin: 24px;
	transition: height 1s;
	}

	.card:hover{
	box-shadow: 0 8px 16px 0 #5e6063;
	border-bottom: 1px solid black;
	}

	.card .heading{
	position: relative;
	height: 20%;
	color: White;
	background-color: #382a54;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
	}


	.card .content {
	font-size: 0.875em;
	padding: 16px;
	font-family: sans-serif;
	height: 130%;
	transition: height 1s;
	}

	.card .button {
	border: none;
	background-color: white;
	padding: 8px ;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #A349E4;
	margin: 8px;
	cursor: pointer;
	font-family: sans-serif;
	}

	.card .button:hover {
	background-color: #30872C;
	color: white;
	border-radius: 2px;
	}

	/*style for the lists inside the card*/
	.content ul li {
		padding:  5px; ;
	}

	/*images for cards*/
	img {
	max-width: 100%;
	}

	/*sub-link css*/

	.sub_contents{
		margin-left: 15%;
		margin-right: 15%;
		text-align: left;

		}


	.example{
		border:solid;

	}

	/*horizontal card*/
	.column1 {
	float: left;
	width: 100%;
	padding: 10px;
	height: 180px;
	margin: 0;
	background-color: white;
}

	.column2 {
	float: left;
	width:100%;
	padding: 10px;
	height: auto;
	margin: 0;
	background-color: white;
	}



	.row:after {
		content: "";
		display: table;
		clear: both;

	}

	.horzontal_card
	{
		margin-bottom: 5%;
	}
	/*sub-link css*/
