<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<title>Navigation template</title>
	<link rel="stylesheet" href="nav.css">
</head>

<body>
	<header>
		<nav>
			<div class="menu-container">
				<ul class="menu">
					<li class="menu-cdu">
						<a href="#">
							<span>Home</span>
						</a>
					</li>
					
					<li class="menu-course">
						<a href="#">
							<span>Courses</span>
						</a>
					</li>
					
					<li class="menu-library">
						<a href="#">
							<span>Library</span>
						</a>
					</li>
					
					<li class="menu-contact">
						<a href="#">
							<span>Contact Us</span>
						</a>
					</li>	
					
					<li class="menu-learnline">
						<a href="#">
							<span>Learnline Login</span>
						</a>
					</li>
										
					<li class="menu-settings">
						<a href="#">
							<span><img src="../images/setting.png" alt="settings" class="img"></span>
						</a>
					</li>
					
				</ul>
			</div>
		</nav>
	</header>
</body>