<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<title>Navigation template</title>
	<link rel="stylesheet" href="nav.css">
</head>

<body>
	<header>
		<nav>
			<div class="menu-container">
				<ul class="menu">
					<li class="menu-cdu">
						<a href="#">
							<span>Home</span>
						</a>
					</li>
					
					<li class="menu-course">
						<a href="#">
							<span>Courses</span>
						</a>
					</li>
					
					<li class="menu-faculties">
						<a href="#">
							<span>Faculties</span>
						</a>
					</li>
					
					<li class="menu-learning">
						<a href="#">
							<span>Learning</span>
						</a>
					</li>
					
					<li class="menu-library">
						<a href="#">
							<span>Library</span>
						</a>
					</li>
					
					<li class="menu-campuses">
						<a href="#">
							<span>Campuses</span>
						</a>
					</li>
					
					<li class="menu-contact">
						<a href="#">
							<span>Contact Us</span>
						</a>
					</li>
					
					<li class="menu-map">
						<a href="#">
							<span>Site Map</span>
						</a>
					</li>
					
					<li class="menu-learnline">
						<a href="#">
							<span>Learnline Login</span>
						</a>
					</li>
					
				</ul>
			</div>
		</nav>
	</header>
</body>